a:link {
	color: lightgoldenrodyellow;
}

a:visited {
	color: greenyellow;
}

body {
	width: auto;
	height: auto;
	background-color: darkgrey;
}


#cosmosspace{
	width: auto;
	height: auto;
	background-color: midnightblue;
}

#renameSpace{
	width: auto;
	height: auto;
	background-color: midnightblue;
}

input{
	margin-right: 40%;
	background-color:lightyellow;
}
#page {
	width: 1100px;
	height: 1000px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #888686;
}

section#space {
	width: 1100px;
	height: 50px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #b5b4b4;
}: 0 0 0 0;

section#spaceReport {
	width: 1100px;
	height: 50px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #1628ae;
}: 0 0 0 0;

header#topHeader {
	width: 1100px;
	height: 50px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #CBC5C5;
}
header#topHeaderFixed {
	width: 1360px;
	height: 25px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: fixed;
	background-color: midnightblue;
}

#gsaPubPaper {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #A1A9A9;
}

#glossary {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #A1A9A9;
}

#gsaPaper {
	width: 1100px;
	height: 20px;: 0 0 0 0;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #A3A3A3;
}

#humFed1 {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #A3A3A3;
}

#h21 {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #A9A6A6;
}

#humFed2 {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #ABAAAA;
}

#foh {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #ABAAAA;
}

#cosmosHeaven {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #A1A1A1;
}

#mg {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #A1A1A1;
}

#cosmosPurgatory {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #979696;
}

#hap {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #979696;
}

#cosmosHell {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #8C8B8B;
}

#rep {
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	background-color: #8C8B8B;
}

#JRedden {
	color: lightgoldenrodyellow;
	text-align: center;
	font-size: 400%;
}

#JRedden1 {
	color: lightgoldenrodyellow;
	text-align: center;
	font-size: 150%;
}

#chooseLogin {
	padding: 0 50px;
	background-color: #A1A9A9;
}

#startLogin {
	background-color: #777777;
	color: greenyellow;
	width: 200px;
}

#requestLogin {
	padding: 0 50px;
	background-color: #A3A3A3;
}

#startLoginRequest {
	background-color: #666666;
	color: lightgoldenrodyellow;
	width: 200px;
}

#uEmail {
	background-color: #666666;
	color: lightgoldenrodyellow;
}

#loginPassword {
	background-color: #777777;
	color: greenyellow;
}

#uMails {
	background-color: #666666;
}

#loginPasswords {
	background-color: #777777;
}
#answerQuestionOne{
	margin-right: 40%;
	width:65%;
	background-color: #AAAAAA;
}

#questionHeader, #questionHeader2, #math{
	width:65%;
	background-color: #999999;
}
#knum{
	color: yellow;
}

#question0, #firstName, #eMail, #password2{
	width:65%;
	background-color: #777777;
}
#question1, #lastName, #password1{
	width:65%;
	background-color: #666667;
}
#question2{
	width:65%;
	background-color: #AA9995;
}
#question3{
	width:65%;
	background-color: #999997;
}

#uQuestion1 {
	margin-left: 15%;
	width:65%;
	background-color: #CCCCCC;
}

#uQuestion2 {
	margin-left: 15%;
	width:65%;
	background-color: #DDDDDD;
}

#uQ1 {
	margin-left: 29px;
	width:20%;
	background-color: #DDDDDD;
}

#uQ2 {
	margin-left: 10px;
	width:20%;
	background-color: #CCCCCC;
}
#fn1 {
	margin-left: 14px;
}
#ln1 {
	margin-left: 15px;
}
#em1, #pw1, #pw2 {
	margin-left: 128px;
}

nav:#topNav {
	background-color: #B8B3B3;
}

nav:#topNavCosmos {
	font-family: Verdana;
	font-size: 16px;
	background-color: #B8B3B3;
}


canvas:#firstposition{
	style: border:1px solid #c3c3c3;
}

.button{
	margin-left: 107px;
	background-color:orange;
}

button{
	font-family: Verdana;
	font-size: 16px;
}


span:#ssits{
	position: absolute;
	top: 15px;
	margin-left: 500px;
	color:orange;
}

#comments{
	position: absolute;
	top: 25px;
	margin-left: 1380px;
	color:orange;
	font-family: Verdana;
	font-size: 16px;
}

#reportComments{
	position: absolute;
	top: 10px;
	margin-left: 130px;
	color:orange;
	font-family: Verdana;
	font-size: 16px;
}

#spinner{
	position: absolute;
	top: 75px;
	position: fixed;
	color: orange;
}

#spinner2{
	position: absolute;
	top: 75px;
	position: fixed;
	color: orange;
	margin-left: 100px;
}

section#report{
	position: absolute;
	top: 150px;
}


.column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.entry{
  text-align: left;
}

.entry2{
  display: enter;
  width: 100%;
  border: none;
  background-color: #729fcf;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

label {
	color: white;
}
